---
import { CLIENT_ID } from "@lib/google-auth";
import type { User } from "@prisma/client";
import "@style/main.css";

export interface Props {
  title: string;
  /// The result of `@lib.login-cookie.getLogin()``.
  user: User | null;
  /// True if this page needs the user to log in, so Google sign-in should be more aggressive.
  needLogin?: boolean;
  children: any;
}

const { title, user, needLogin = false } = Astro.props;

const login_uri = new URL(
  `/finish_login?from=${encodeURIComponent(Astro.url.href)}`,
  Astro.url
);
if (login_uri.hostname !== "localhost") {
  login_uri.protocol = "https";
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <link rel="stylesheet" href="/css/normalize.min.css" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <div id="wrapper">
      <header class="noprint">
        <a href="/"><h1>Cookbook</h1></a>
      </header>
      <nav id="nav_1" class="noprint">
        <input type="search" class="nav_style search" placeholder="Search" />
      </nav>

      <nav id="nav_2" class="noprint">
        {
          user ? (
            <>
              <a href="/new" class="nav_style">
                New Recipe
              </a>
              <a href="/account" class="nav_style">
                Account
              </a>
              <a
                href={`/logout?from=${encodeURIComponent(Astro.url.href)}`}
                class="nav_style g_id_signout"
              >
                Logout
              </a>
            </>
          ) : (
            <>
              <div
                id="g_id_onload"
                data-client_id={CLIENT_ID}
                data-context="signin"
                data-ux_mode="popup"
                data-auto_prompt={String(needLogin)}
                data-login_uri={login_uri.href}
                data-itp_support="true"
              />
              <div
                class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left"
              />
            </>
          )
        }
      </nav>

      <main id="main_container">
        <slot />
      </main>
    </div>
  </body>
</html>
