---
import Layout from "@layouts/Layout.astro";
import {
  parseIntOrUndefined,
  type StructuredFormData,
  structureFormData,
} from "@lib/forms";
import { getLogin } from "@lib/login-cookie";
import { prisma } from "@lib/prisma";
import type { Prisma, SourceType } from "@prisma/client";
import { z } from "zod";
prisma;

const { username, slug } = Astro.params;

const user = await getLogin(Astro.cookies);

const mayEdit = user && user.username === username;
if (!mayEdit) {
  Astro.response.status = 403;
}

let formData: FormData | null = null;
try {
  formData = await Astro.request.formData();
} catch (e) {
  Astro.response.status = 400;
}

type UpdateResult = {
  success: boolean;
  error?: "may-not-edit" | "no-form-data" | "missing-field";
};
async function updateRecipe(): Promise<UpdateResult> {
  if (!mayEdit) {
    return { success: false, error: "may-not-edit" };
  }
  if (!formData) {
    return { success: false, error: "no-form-data" };
  }

  const structuredData = structureFormData(formData);

  const recipeId: number | undefined = parseIntOrUndefined(structuredData.id);

  if (typeof structuredData.name !== "string")
    return { success: false, error: "missing-field" };
  const name = structuredData.name;

  if (!slug) return { success: false, error: "missing-field" };

  const recipeData: Prisma.RecipeUpdateInput & Prisma.RecipeCreateInput = {
    author: { connect: { id: user.id } },
    name,
    slug,
  };

  // parseInt() actually takes any type, but TypeScript doesn't know that.
  const inputServings = parseInt(structuredData.servings as string);
  recipeData.servings = isNaN(inputServings) ? null : inputServings;

  // Parse sources.
  const Source = z
    .object({
      id: z.coerce.number().optional(),
      type: z.enum([
        "BY_PERSON",
        "BASED_ON_PERSON",
        "FROM_WEBPAGE",
        "BASED_ON_WEBPAGE",
      ] as const satisfies readonly SourceType[]),
      name: z.string().min(1).nullable().catch(null),
      url: z.string().url().nullable().catch(null),
    })
    .catch({ type: "BY_PERSON", name: null, url: null });
  const parsedSources = Source.array()
    .optional()
    .safeParse(structuredData.source);
  if (parsedSources.success) {
    let sources = parsedSources.data;
    if (sources === undefined) sources = [];
    sources = sources.filter((source) => source.name || source.url);
    recipeData.sources = {
      deleteMany: {
        id: {
          notIn: sources
            .map((source) => source.id)
            .filter((id): id is number => typeof id === "number"),
        },
      },
      update: sources
        .filter((source) => source.id !== undefined)
        .map((source) => ({
          where: { id: source.id },
          data: source,
        })),
      create: sources.filter((source) => source.id === undefined),
    };
  }

  if (structuredData.step instanceof Array) {
    const inputSteps: Array<string | StructuredFormData> = structuredData.step;
    recipeData.steps = inputSteps.filter(
      (step): step is string => typeof step === "string",
    );
  }

  /// Maybe-sparse array of ingredient info.
  const ingredients: Prisma.RecipeIngredientCreateWithoutRecipeInput[] = [];
  if (structuredData.ingredient instanceof Array) {
    let order = 0;
    for (const ingredient of structuredData.ingredient) {
      if (typeof ingredient !== "object" || ingredient instanceof Array)
        continue;

      if (typeof ingredient.name !== "string") continue;
      const name = ingredient.name.trim();
      if (name.length === 0) continue;
      const newIngredient: Prisma.RecipeIngredientCreateWithoutRecipeInput = {
        name,
        order: order++,
      };
      if (typeof ingredient.amount === "string") {
        const amount = ingredient.amount.trim();
        if (amount.length > 0) newIngredient.amount = amount;
      }
      if (typeof ingredient.unit === "string") {
        const unit = ingredient.unit.trim();
        if (unit.length > 0) newIngredient.unit = unit;
      }
      if (typeof ingredient.preparation === "string") {
        const preparation = ingredient.preparation.trim();
        if (preparation.length > 0) newIngredient.preparation = preparation;
      }
      ingredients.push(newIngredient);
    }
  }

  recipeData.ingredients = {
    deleteMany: {},
    // Note https://github.com/prisma/prisma/issues/16606, that the object
    // order determines the order that the changes happen, but that this isn't
    // documented.
    createMany: {
      data: ingredients,
    },
  };

  /// Maybe-sparse array of category names.
  if (structuredData.category instanceof Array) {
    const inputCategories: Array<string | StructuredFormData> =
      structuredData.category;
    const categories = inputCategories
      .filter((category): category is string => typeof category === "string")
      .map((name) => ({ name: name.trim() }))
      .filter(({ name }) => name.length > 0);
    // Make sure all the categories exist, because the only way to disconnect removed categories is
    // to use `set:`, which can't create categories, and because connectOrCreate has a race
    // condition anyway
    // (https://www.prisma.io/docs/reference/api-reference/prisma-client-reference#connectorcreate)
    await prisma.category.createMany({
      data: categories,
      skipDuplicates: true,
    });
    // For an existing recipe, use "set" to delete old values. For a new recipe, use "connect"
    // since .create() doesn't accept "set".
    recipeData.categories = { [recipeId ? "set" : "connect"]: categories };
  }

  if (recipeId) {
    // Update the existing recipe.
    const recipeUpdateData: Prisma.RecipeUpdateInput = recipeData;
    // Ensure things don't change unexpectedly.
    delete recipeUpdateData.author;
    delete recipeUpdateData.slug;
    await prisma.recipe.update({
      where: { id: recipeId },
      data: recipeUpdateData,
    });
  } else {
    // Create a new recipe.
    const recipeCreateData: Prisma.RecipeCreateInput = Object.assign(
      recipeData,
      {
        // Strip out the deleteMany and update fields.
        sources: {create: recipeData.sources?.create},
        ingredients: { createMany: recipeData.ingredients.createMany },
      },
    );
    await prisma.recipe.create({
      data: recipeCreateData,
    });
  }
  return { success: true };
}
const result = await updateRecipe();
if (result.success) {
  return Astro.redirect(`/r/${username}/${slug}`, 303);
}
---

<Layout title="Couldn't edit recipe" user={user}>
  <p>
    {
      user
        ? `Welcome, ${user?.name || user?.username}.`
        : `You are not logged in.`
    }
    {
      user?.username === username
        ? null
        : ` Only ${username} may edit this recipe.`
    }
  </p>
  {
    result.error === "no-form-data" ? (
      <p>
        You must submit the <a href={`/edit/${username}/${slug}`}>edit form</a>{" "}
        to change a recipe.
      </p>
    ) : null
  }
  {
    result.error === "missing-field" ? (
      <p>You must provide a name and slug for the recipe.</p>
    ) : null
  }
  <p><a href={`/edit/${username}/${slug}`}>Back to the edit form.</a></p>
</Layout>
