---
import Markdown from "@components/Markdown.astro";
import Layout from "@layouts/Layout.astro";
import { getLogin } from "@lib/login-cookie";
import { prisma } from "@lib/prisma";

function noSuchRecipe(): Response {
  return new Response(null, {
    status: 404,
    statusText: "No such recipe",
  });
}

// Grab this recipe.
const { username, slug } = Astro.params;
if (
  !slug ||
  typeof slug === "number" ||
  !username ||
  typeof username === "number"
) {
  return noSuchRecipe();
}

const recipe = await prisma.recipe.findFirst({
  where: { author: { username }, slug },
  include: {
    ingredients: { orderBy: { order: "asc" } },
    categories: { orderBy: { name: "asc" } },
  },
});

if (!recipe) {
  return noSuchRecipe();
}

const user = await getLogin(Astro.cookies);
---

<Layout title={recipe.name} user={user}>
  <main class="recipe">
    <h2>{recipe.name}</h2>
    {recipe.servings ? <p>{recipe.servings} Servings</p> : null}
    <section>
      <h3>Ingredients</h3>
      <ul>
        {
          recipe.ingredients.map((ingredient) => (
            <li>
              {ingredient.amount}
              {ingredient.unit}
              {ingredient.name +
                (ingredient.preparation ? `, ${ingredient.preparation}` : "")}
            </li>
          ))
        }
      </ul>
    </section>

    <section>
      <h3>Instructions</h3>
      {
        recipe.steps.length === 1 ? (
          <Markdown source={recipe.steps[0]!} />
        ) : (
          <ol>
            {recipe.steps.map((step) => (
              <li>
                <Markdown source={step} />
              </li>
            ))}
          </ol>
        )
      }
    </section>

    <section>
      <h3>Categories</h3>
      <ul>
        {
          recipe.categories.map((category) => (
            <li>
              <a href={`/search?category=${encodeURIComponent(category.name)}`}>
                {category.name}
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <nav id="options" class="noprint">
      <a href={`/edit/${username}/${slug}`} class="action">Edit</a>
      <a href="javascript:window.print()" class="action">Print</a>
      <a href="" class="action">Delete</a>
    </nav>
  </main>
</Layout>
