---
import { EditRecipe } from "@components/EditRecipe";
import Layout from "@layouts/Layout.astro";
import { getLogin } from "@lib/login-cookie";
import { prisma } from "@lib/prisma";

const user = await getLogin(Astro.cookies);

const { username, slug } = Astro.params;

if (!user) {
  Astro.redirect(
    `/login?user=${encodeURIComponent(
      String(username)
    )}&from=${encodeURIComponent(Astro.request.url)}`
  );
}

// Grab this recipe.

function noSuchRecipe(): Response {
  return Astro.redirect(`/r/${username}/${slug}`, 303);
}

if (
  !slug ||
  typeof slug === "number" ||
  !username ||
  typeof username === "number"
) {
  return noSuchRecipe();
}

if (user?.username !== username) {
  return new Response(
    `<meta http-equiv="refresh" content="3;/r/${username}/${slug}">
     <h1>Can't edit someone else's recipe.</h1>`,
    {
      status: 403,
      statusText: "Can't edit someone else's recipe.",
      headers: { "content-type": "text/html" },
    }
  );
}

const recipe = await prisma.recipe.findFirst({
  where: { author: { username }, slug },
  include: { ingredients: true },
});

if (!recipe) {
  return noSuchRecipe();
}
---

<Layout title={recipe.name} user={user}>
  <EditRecipe recipe={recipe} user={user} client:load />

  <!--
<main ng-if="editing">
  <div id="content_edit">
    <h3>Title</h3>
    <input type="text" class="title" ng-model="recipeMeta.title" placeholder="Title" ng-change="setTitle()">

    <h3>Ingredients</h3>
    <div class="ingredient" ng-repeat="ingredient in recipe_ingredients">
      <div class="ingredient_short">
        <input type="text"
               placeholder="Qty"
               ng-model="ingredient.quantity"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <div class="ingredient_short">
        <input type="text"
               placeholder="Unit"
               ng-model="ingredient.unit"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <div class="ingredient_long">
        <input type="text"
               placeholder="Ingredient"
               ng-model="ingredient.name"
               ng-change="ingredientNameChanged(ingredient)"
               >
      </div>
      <div class="ingredient_long">
        <input type="text"
               placeholder="Preparation"
               ng-model="ingredient.preparation"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <button ng-click="removeIngredient(ingredient)"
          id="minus"
          >-</button>
      </div>
      <button ng-click="addIngredient()"
          id="plus"
          >+</button>
    <h3>Directions</h3>
    <textarea ng-model="recipeDetails.directions" ng-change="setDirections()" ></textarea>
    <a href="javascript:;" ng-click="save()" class="action" id="save">Save</a>
  </div>
</main> -->
</Layout>
