---
import Layout from "@layouts/Layout.astro";
import { prisma } from "@lib/prisma";

function noSuchRecipe(): Response {
  return new Response(undefined, {
    status: 404,
    statusText: "No such recipe",
  });
}

// Grab this recipe.
const { slug } = Astro.params;
if (!slug || typeof(slug) === "number") {
  return noSuchRecipe();
}

const recipe = await prisma.recipe.findUnique({
  where: { slug },
  include: { ingredients: { include: { unit: true } } },
});

if (!recipe) {
  return noSuchRecipe();
}

---

<Layout title={recipe.name}>
  <main class="recipe">
    <div>
      <h2>{recipe.name}</h2>
      {recipe.servings ? <p>{recipe.servings} Servings</p> : null}
      <h3>Ingredients</h3>
      <ul>
        {
          recipe.ingredients.map((ingredient) => (
            <li>
              {ingredient.amount} {ingredient.unit?.abbreviation || ingredient.unit?.name} {ingredient.ingredient}
            </li>
          ))
        }
      </ul>
      <h3>Instructions</h3>
      <ol>{recipe.steps.map((step) => <li>{step}</li>)}</ol>
      <nav id="options" class="noprint">
        <a href="javascript:;" ng-click="edit()" class="action">Edit</a>
        <a href="javascript:window.print()" class="action">Print</a>
        <a href="" class="action">Delete</a>
      </nav>
    </div>
  </main>

  <!--
<main ng-if="editing">
  <div id="content_edit">
    <h3>Title</h3>
    <input type="text" class="title" ng-model="recipeMeta.title" placeholder="Title" ng-change="setTitle()">

    <h3>Ingredients</h3>
    <div class="ingredient" ng-repeat="ingredient in recipe_ingredients">
      <div class="ingredient_short">
        <input type="text"
               placeholder="Qty"
               ng-model="ingredient.quantity"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <div class="ingredient_short">
        <input type="text"
               placeholder="Unit"
               ng-model="ingredient.unit"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <div class="ingredient_long">
        <input type="text"
               placeholder="Ingredient"
               ng-model="ingredient.name"
               ng-change="ingredientNameChanged(ingredient)"
               >
      </div>
      <div class="ingredient_long">
        <input type="text"
               placeholder="Preparation"
               ng-model="ingredient.preparation"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <button ng-click="removeIngredient(ingredient)"
          id="minus"
          >-</button>
      </div>
      <button ng-click="addIngredient()"
          id="plus"
          >+</button>
    <h3>Directions</h3>
    <textarea ng-model="recipeDetails.directions" ng-change="setDirections()" ></textarea>
    <a href="javascript:;" ng-click="save()" class="action" id="save">Save</a>
  </div>
</main> -->
</Layout>
