---
import type { RecipeTitleWithLinkFields } from "@components/OneRecipe";
import { RecipeList } from "@components/RecipeList";
import Layout from "@layouts/Layout.astro";
import { getLogin } from "@lib/login-cookie";
import { prisma } from "@lib/prisma";

const user = await getLogin(Astro.cookies);

const { username } = Astro.params;

if (!username) {
  // This shouldn't happen, but just in case, redirect to the root.
  return Astro.redirect("/", 303);
}

const author = await prisma.user.findUnique({ where: { username } });

let title: string;
let recipes: RecipeTitleWithLinkFields[];

if (author) {
  title = `${author.name}'s Recipes`;
  recipes = await prisma.recipe.findMany({
    where: { author: { username } },
    select: {
      name: true,
      slug: true,
      author: { select: { username: true } },
    },
    orderBy: {
      name: "asc",
    },
  });
} else {
  Astro.response.status = 404;
  title = `No user ${username}`;
  recipes = [];
}
---

<Layout title={title} user={user}>
  <h2>{title}</h2>
  {
    author ? (
      <RecipeList
        recipes={recipes}
        initialQuery={Astro.url.search}
        username={username}
        client:load
      />
    ) : (
      <p>
        Return <a href="/">home</a>.
      </p>
    )
  }
</Layout>
