---
import { RecipeList } from "@components/RecipeList";
import Layout from "@layouts/Layout.astro";
import { getLogin } from "@lib/login-cookie";
import { prisma } from "@lib/prisma";

const user = await getLogin(Astro.cookies);

const recipes = await prisma.recipe.findMany({
  select: {
    name: true,
    slug: true,
    author: { select: { username: true } },
  },
  orderBy: {
    name: "asc",
  },
});

const allIngredients = await prisma.recipeIngredient.findMany({
  select: { name: true },
  distinct: ["name"],
});

const allCategories = await prisma.category.findMany({
  where: { Recipes: { some: {} } },
});
---

<Layout title="Cookbook" user={user}>
  <div id="welcome">
    <h4>Welcome to Cookbook!</h4>
  </div>

  <div id="content">
    <RecipeList
      recipes={recipes}
      initialQuery={Astro.url.search}
      allIngredients={allIngredients}
      allCategories={allCategories}
      client:load
    />
  </div>
</Layout>
